:root {
    --black: #4d4c59;
    --purple: #6c63ff;
    --light-grey: #c8c8c8;
    --text-color: #9c9ab6;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-wave, .bottom-wave {
    width: 100%;
    z-index: -1;
}

.top-wave {
    position: absolute;
    top: 0;
}

.bottom-wave {
    position: absolute;
    bottom: 0;
}

.content {
    max-width: 1180px;
    display: flex;
    align-items: center;
    gap: 82px;
}

.countdown {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.countdown-title {
    font-size: 36px;
    letter-spacing: 10.5%;
    color: var(--purple);
    text-transform: uppercase;
    margin-bottom: 19px;
}

.countdown-description {
    font-size: 14px;
    color: var(--text-color);
    margin-top: 46px;
    margin-bottom: 31px;
}

.countdown-button {
    background-color: var(--purple);
    border-radius: 10px;
    padding: 16px 32px;
    border: none;
    font-family: Poppins;
    font-size: 16px;
    color: #FFF;
    cursor: pointer;
    transition: filter 0.2s;
}

.countdown-button:hover {
    filter: brightness(0.9);
}

.timer {
    display: flex;
    text-align: center;
}

.timer-label {
    font-size: 14px;
    color: var(--light-grey);
    font-weight: 300;
}

.timer-value, .timer-separator {
    font-size: 72px;
    color: var(--black);
}

.timer-separator {
    margin: 0 15px;
    margin-top: 20px;
}
